:root{
    font-size:16px;
}
body{
    font-family:Hind, sans-serif;
    font-weight:400;
}
h1{
    font-weight:700;
    font-size:2.5rem;
}
h2{
    font-weight: 700;
    font-size:2rem;
}
h4{
    font-weight:600;
    font-size:1.35rem;
}
p, span{
    color:rgba(0, 0, 0, 0.7)
}
a{
    text-decoration: none;
}
header{
    display:flex;
    justify-content:space-between;
    height:64px;
    margin:0px 24px 0px 24px;
}
header #logo{
    display:flex;
    
    height:32px;
    
}
header >*{
    margin:auto 0;
}
header#mobile{
    display:none;
}
#logo >*{
    margin:auto;
}
#logo-text{
    font-weight:500;
    font-size:1.25rem;
}
#logo-text span{
    color:rgba(0, 0, 0, 0.219);
}
nav{
    display:flex;
    justify-content:space-between;
    width:300px;
    
}
#banner{
    display:flex;
    background:rgba(179, 179, 179,0.5)
}
#banner img{
    margin:32px 24px;
    width:60%;
    height:60%;
}
#banner-content{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height:250px;
    width:25%;
    margin:auto;
}

#banner-content #button p{
    background:rgb(53, 53, 53);
    padding-top:8px;
    padding-bottom:8px;
    text-align:center;
    width:100%;
    color:rgb(255,255,255);
}
#landing, #thesis{
    display:flex;
    justify-content:space-between;
    padding-top: 32px;
    padding-bottom:32px;
}
.main{
    margin-left:24px;
    margin-right:24px;
    width:60%;
    
}
.main .main-media{
    width:100%;
}
.main h2, .main h4{
    margin-top:24px;
    
}

.main p{
    margin:24px 0;
    
}
#landing .info .info-box:last-child{
    background-color:rgba(179, 179, 179,0.5);
}
.info{
    border-left:3px rgba(179, 179, 179,0.3) solid;
}
.info-box{
    display:flex;
    padding:16px;
    border-bottom:3px rgba(179, 179, 179,0.3) solid;
}
.info-box .image-container{
    width:35%;
    height:35%;
}
.info-box .image-container img{
    width:100%;
}
.info-box .info-container{
    margin:auto;
    margin-left:15px;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    height:125px;
}
#courses{
    background-color:rgba(179, 179, 179,0.5);
    padding:32px 56px 16px 56px;
}
#courses h2{
    text-align:center;
    margin-bottom:16px;
}
#course-grid-desktop{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.course-box{
    margin:16px;
    width:420px;
    background-color:white;
    padding-bottom:24px;   
}
.course-box img{
    width:420px;
}
.course-box h4{
    margin-top:16px;
    margin-left:16px;
}
.course-box p{
    margin-top:8px;
    margin-left:16px;
}
#course-grid-mobile{
    display:none;    
}
#course-grid-mobile h4{
    background-color:rgba(179, 179, 179,0.5);
    padding:16px 16px 24px 16px;
}
#thesis .main h2{
    text-align:center;
    margin-bottom:32px;
    
}
#thesis .info{
    margin-top:72px;
    border:none;
}
#thesis .info .info-box:first-child{
    background-color:rgba(179, 179, 179,0.5);
}
#thesis .info .info-box{
    border:none;
}
footer{
    padding-left:24px;
    padding-right:24px;
    display:flex;
    justify-content:space-between;
    border-top:3px rgba(179, 179, 179,0.3) solid;
}
footer span{
    margin-top:16px;
}

@media only screen and (max-width:900px){
    #banner{
        flex-direction: column;
    }
    #banner img{
        width:100%;
        margin:0;
    }
    #banner-content{
        width:95%;
        margin-left:16px;
        margin-right:16px;
        justify-content:space-around;
    }
    
   
}
@media only screen and (max-width:600px){
    header#desktop{
        display:none;
    }
    header#mobile{
        display:flex;
    }
    #landing .main{
        display:none;
    }
    .info{
        width:100%;
    }
    .info-box{
        flex-direction: column;
        
        border:none;
        justify-content:space-around;
    }
    #landing .info .info-box:last-child{
        background-color:rgb(255,255,255);
    }
    .info-box .image-container{
       width:100%;
       overflow:hidden;
       max-height:370px;
    }
    .info-box .image-container img{
        width:100%;
    }
    #thesis .info{
        display:none;
    }
    #thesis{
        padding-bottom:0;
    }
    #thesis .main{
        width:100%;
        margin:0;
    }
    #thesis .main .main-desc-container{
        display:none;
    }
}
@media only screen and (max-width:500px){
    footer span{
        margin-bottom:16px;
    }
    footer span:last-child{
        display:none;
    }
}
@media only screen and (max-width:430px){
    #courses{
        border-top:3px rgba(179, 179, 179,0.3) solid;
        background-color:white;
    }
    #courses h2{
        margin-bottom:16px;
    }
    #course-grid-desktop{
        display:none;
    }
    #course-grid-mobile{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        margin-bottom:32px;
        height:400px;
    }
}